a, p{
    text-decoration-line: none;
    color: #e5e7eb;
    font-size: 18px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

ul{
    list-style: none;
    display: flex;
    gap: 24px;
}

button{
    background-color:  #3882f6; 
    color: white;
    padding: 10px ;
    border-radius: 12px;
    font-weight: 700;
    max-height: fit-content;
    border-color: whitesmoke;
    border-width: 2px;
}

#footer-button{
    width: fit-content;
    height: fit-content;
}

quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}


.section-one{
    background-color: #1f2937;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}


.banner{
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 50%;
}

.placeholder{
    width: 50%;
    height: 70%;
    background-color: lightgray;
}
.logo{
    width: 10%;
}

.section-two{
    display: flex;
    min-height: 30vh;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

.photo-box{
    display: block;
}
.photo{
    border-radius :12px;
    border-color:#3882f6 ;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
}

.photobox-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.section-three{

    background-color: #e5e7eb ;
    padding: 150px;
    margin-top: 20px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-four{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 300px;
    padding: 50px 150px;
    border-radius: 12px;
}

.coa-main{
    color: white;
    font-size: 24px;
    font-weight: 900px;
}


.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}